@model IEnumerable<InternetApp.Models.Cart>

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TimeSpan Date;
    TimeSpan Minutes = new TimeSpan(2010, 8, 18, 13, 30);
    TimeSpan Hours = new TimeSpan(24);
}


<h2>this is my fullview</h2>


<!-- Modal -->

<table class="table" style="width:500px " id="myt">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.price)
        </th>
        <th>
            Date
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.price)
            </td>
            @{
                Date = DateTime.Now - item.added_at;
            }


            <td>
                @Date.Minutes minutes ago
            </td>




            <td>

                @Html.ActionLink("Delete", "DeleteCart", new { id = item.product_id }, new { @class = "btn btn-danger", @style = "width:70px;background-color:rgb(60, 60, 60) " })
            </td>
        </tr>
    }

</table>

